@import '../../../styles/mixins.scss';

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.router-link-active {
  background-color: rgba(0, 0, 0, 0.07);
}

.spacer {
  flex: 1 0 auto;
}

.feedback-button {
  margin-right: 16px;
}

.menu-logout-button {
  margin-top: 16px;
}

main {
  padding: 16px;

  @include screen('tablet-landscape') {
    padding: 32px;
    max-width: 1140px;
    margin: 0 auto;
  }
}
