<div class="main-container" *ngIf="user$ | async as user">
  <div *ngIf="!(requestInProgress$ | async); else loadingState">
    <div *ngIf="itemsToBuy$ | async as itemsToBuy">
      <div *ngIf="listHaveItems(itemsToBuy); else emptyState">
        <h1>{{ 'SHOPPING_LIST.MAIN_TITLE' | translate }}</h1>
        <hr />

        <div
          *ngFor="let userItems of itemsToBuy | keyvalue"
          class="section-container"
        >
          <h2 class="person-name">
            {{ userItems.value[0].createdBy?.displayName }}
          </h2>

          <mat-card
            *ngFor="let item of userItems.value"
            fxLayoutAlign="start start"
            fxLayoutAlign.gt-md="start center"
            fxLayoutGap="16px"
            fxLayout="column"
            fxLayout.gt-md="row"
            class="list-card"
          >
            <span
              class="list-card__name"
              [class.list-card__name--bought]="item.bought"
            >
              {{ item.name }}
            </span>

            <mat-chip-list *ngIf="item.boughtBy !== user?.uid && item.bought">
              <mat-chip color="warn" selected>
                {{ 'SHOPPING_LIST.SOMEONE_BOUGHT_ITEM' | translate }}
              </mat-chip>
            </mat-chip-list>

            <div class="spacer"></div>

            <div
              fxLayout="row"
              fxLayoutGap="16px"
              fxLayoutAlign="space-between center"
            >
              <button
                mat-stroked-button
                [color]="item.bought ? 'warn' : 'primary'"
                (click)="handleMarkItemAsBought(item)"
                [disabled]="item.bought && item.boughtBy !== user?.uid"
              >
                <span *ngIf="!item.bought">
                  {{ 'SHOPPING_LIST.MARK_AS_BOUGHT' | translate }}
                </span>
                <span *ngIf="item.bought">
                  {{ 'SHOPPING_LIST.MARK_AS_NOT_BOUGHT' | translate }}
                </span>
              </button>

              <button
                mat-stroked-button
                color="warn"
                (click)="unassignFromItem(item)"
                [disabled]="item.bought && item.boughtBy === user?.uid"
              >
                <span>{{ 'SHOPPING_LIST.REMOVE' | translate }}</span>
              </button>

              <button
                mat-icon-button
                aria-label="Open item details"
                [routerLink]="[
                  '/profiles',
                  userItems.value[0].id,
                  'item',
                  item.id
                ]"
              >
                <mat-icon>open_in_new</mat-icon>
              </button>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loadingState>
  <div class="loading-container" fxLayoutAlign="center">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
</ng-template>

<ng-template #emptyState>
  <div class="empty-state__container" fxLayout="column">
    <h1>{{ 'SHOPPING_LIST.EMPTY_STATE_TITLE' | translate }}</h1>

    <div
      fxLayout.lt-md="column"
      fxLayout="row"
      fxLayoutAlign="space-around center"
      fxLayoutGap.lt-md="32px"
      class="empty-state__selection-container"
    >
      <button mat-raised-button color="primary" [routerLink]="['/wishlist']">
        {{ 'SHOPPING_LIST.GO_TO_WISHLIST' | translate }}
      </button>
      <img
        src="/assets/images/undraw_no_data_qbuo.svg"
        alt="santa claus"
        class="empty-state__image"
      />
      <button
        mat-raised-button
        color="accent"
        [routerLink]="['/profiles/search']"
      >
        {{ 'SHOPPING_LIST.SEARCH_FOR_WISHLIST' | translate }}
      </button>
    </div>
  </div>
</ng-template>
