.loading-container {
  margin-top: 16px;
}

.empty-state {
  &__image {
    max-width: 320px;
  }

  &__selection-container {
    margin-top: 32px;
  }
}

.section-container {
  margin-top: 32px;

  @media (min-width: 768px) {
    margin-top: 42px;
  }
}

.list-card {
  margin-bottom: 16px;
  padding: 10px;

  @media (min-width: 768px) {
    margin-top: 16px;
  }

  &__name {
    font-size: 1.1rem;
  }

  &__name--bought {
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.26);
  }
}

.spacer {
  flex: 1;
}
