.section-container {
  margin-top: 64px;
}

.loading-container {
  margin-top: 32px;
}

.list-item {
  margin-bottom: 16px;
}

.item-name {
  font-size: 1.1rem;
}

.item-bought {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.26);
}

.spacer {
  flex: 1;
}

.empty-state {
  &__image {
    max-width: 320px;
  }

  &__selection-container {
    margin-top: 32px;
  }
}
