<div class="container" fxLayout="column" fxLayoutAlign="center center">
  <h1 class="title">Please Sign In</h1>

  <div class="form-container" fxLayout="column" fxLayoutAlign="start center">
    <img
      class="main-image"
      src="/assets/images/undraw_authentication_fsn5.svg"
      alt="Login image"
    />

    <mat-progress-bar [mode]="progressBarMode" value="100"></mat-progress-bar>

    <button
      (click)="signInWithGoogle()"
      [disabled]="signingIn"
      class="login-button"
      mat-raised-button
      color="warn"
    >
      Login With Google
    </button>

    <button class="login-button" mat-raised-button color="accent" disabled>
      Login With Facebook
    </button>

    <button class="login-button" mat-raised-button color="accent" disabled>
      Login With Twitter
    </button>
  </div>
</div>
