<mat-card class="item-card mat-elevation-z4">
  <div
    class="item-card__header"
    fxLayout="row"
    fxLayoutAlign="start center"
    fxLayoutGap="8px"
  >
    <h1 class="item-card__title">{{ item?.name }}</h1>
  </div>

  <div class="item-card__content">
    <dl>
      <div class="item-card__section" fxLayout="row">
        <dt fxFlex="200px">
          {{ 'WISHLIST.LINK_TO_SHOP' | translate }}
        </dt>
        <dd fxFlex *ngIf="item?.url">
          <a [href]="item?.url" target="blank" rel="noopener noreferrer">
            {{ item?.url }}
          </a>
        </dd>
      </div>

      <div class="item-card__section" fxLayout="row">
        <dt fxFlex="200px">
          {{ 'WISHLIST.ITEM_NOTE' | translate }}
        </dt>
        <dd fxFlex *ngIf="item?.note">
          {{ item?.note }}
        </dd>
      </div>

      <div class="item-card__section" fxLayout="row" *ngIf="mode == 'visitor'">
        <dt fxFlex="200px">
          {{ 'WISHLIST.ITEM_ADDITIONAL_INFO' | translate }}
        </dt>
        <dd fxFlex fxLayoutGap="8px">
          <span class="item-card__badge" *ngIf="someoneIsBuying">
            {{ 'PROFILES.SOMEONE_WANT_TO_BUY_THIS_ITEM' | translate }}
          </span>
          <span
            class="item-card__badge item-card__badge--primary"
            *ngIf="itemAssigned"
          >
            {{ 'PROFILES.ITEM_ADDED_TO_SHOPPING_LIST' | translate }}
          </span>
        </dd>
      </div>
    </dl>
  </div>

  <div
    class="item-card__actions-container"
    fxLayoutAlign="start center"
    fxLayoutGap="16px"
  >
    <ng-container *ngIf="mode === 'owner'; else visitorActions">
      <button mat-raised-button color="primary" (click)="handleOpenEdit()">
        {{ 'WISHLIST.ITEM_EDIT' | translate }}
      </button>

      <button
        *ngIf="!deleteConfirmationVisible"
        mat-raised-button
        color="warn"
        (click)="toggleDeleteConfirmation()"
      >
        {{ 'WISHLIST.ITEM_DELETE' | translate }}
      </button>

      <div *ngIf="deleteConfirmationVisible" fxLayoutGap="8px">
        <button
          mat-icon-button
          color="primary"
          (click)="toggleDeleteConfirmation()"
        >
          <mat-icon>close</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="handleDelete()">
          <mat-icon>done</mat-icon>
        </button>
      </div>
    </ng-container>

    <ng-template #visitorActions>
      <button
        mat-raised-button
        [color]="itemAssigned ? 'accent' : 'primary'"
        (click)="itemAssigned ? handleUnAssignItem() : handleAssignItem()"
      >
        {{
          (itemAssigned ? 'PROFILES.DONT_WANT_TO_BUY' : 'PROFILES.WANT_TO_BUY')
            | translate
        }}
      </button>
    </ng-template>
  </div>
</mat-card>
