<div class="search-container" fxLayout="column" fxLayoutAlign="center">
  <mat-form-field
    class="form-field"
    appearance="outline"
    (keyup.enter)="submit()"
  >
    <mat-label>{{ 'PROFILES.SEARCH_BY_EMAIL' | translate }}</mat-label>
    <input
      [formControl]="searchTerm"
      type="email"
      placeholder="email@gmail.com"
      matInput
      autocomplete="off"
      autofocus
    />
    <mat-hint>
      {{ 'PROFILES.SEARCH_BY_EMAIL_PLACEHOLDER' | translate }}
    </mat-hint>
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    (click)="submit()"
    [disabled]="requestInProgress"
    class="search-button"
  >
    {{ 'PROFILES.SEARCH_BUTTON_LABEL' | translate }}
  </button>

  <mat-progress-bar
    *ngIf="requestInProgress"
    class="progress-bar"
    mode="indeterminate"
  ></mat-progress-bar>
</div>
