<div class="search-container" fxLayout="column" fxLayoutAlign="center">
  <mat-form-field
    class="form-field"
    appearance="outline"
    (keyup.enter)="submit()"
  >
    <mat-label>Search by email</mat-label>
    <input
      [formControl]="searchTerm"
      type="email"
      placeholder="example@gmail.com"
      matInput
      autofocus
    />
    <mat-hint>
      You can see other people wish lists by searching for them by their email
      address
    </mat-hint>
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    (click)="submit()"
    [disabled]="requestInProgress"
    class="search-button"
  >
    Search
  </button>

  <mat-progress-bar
    *ngIf="requestInProgress"
    class="progress-bar"
    mode="indeterminate"
  ></mat-progress-bar>
</div>
