<div class="cards-container">
  <mat-card fxLayout="column" class="card" *ngFor="let listItem of data">
    <div fxFill fxLayout="column" fxLayoutGap="16px">
      <div fxLayoutAlign="space-between start">
        <h1 class="card__title">{{ listItem.name }}</h1>

        <mat-icon *ngIf="isItemAssigned(listItem)" color="primary">
          assignment_turned_in
        </mat-icon>
      </div>

      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
        <mat-icon class="details-icon">link</mat-icon>
        <a
          *ngIf="listItem.url"
          [href]="listItem.url"
          target="_blank"
          rel="noopener noreferrer"
        >
          Link to shop
        </a>

        <span *ngIf="!listItem.url">
          <i>No link provided</i>
        </span>
      </div>

      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
        <mat-icon class="details-icon">update</mat-icon>
        <span>
          Last updated on
          {{ listItem.updatedAt.toDate() | date: 'longDate' }}
        </span>
      </div>

      <div
        class="card__actions"
        fxFlex
        fxLayout="row"
        fxLayoutAlign="end end"
        fxLayoutGap="8px"
      >
        <ng-container *ngIf="mode === 'visitor'">
          <button
            mat-stroked-button
            color="warn"
            (click)="unassignItem(listItem)"
            [disabled]="!isItemAssigned(listItem)"
          >
            Unassign
          </button>

          <button
            mat-stroked-button
            color="primary"
            (click)="assignItem(listItem)"
            [disabled]="isItemAssigned(listItem)"
          >
            Assign
          </button>
        </ng-container>
      </div>
    </div>
  </mat-card>
</div>
