.card {
  &__title {
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
  }

  &__info-text {
    margin: 0;
    opacity: 0.5;
  }
}

.details-icon {
  color: rgba(0, 0, 0, 0.54);
}

.selected-profile__name {
  margin: 0;
}
