<h1 mat-dialog-title>{{ 'FEEDBACK.TITLE' | translate }}</h1>

<div mat-dialog-content>
  <form [formGroup]="feedbackForm">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'FEEDBACK.TYPE' | translate }}</mat-label>
      <mat-select formControlName="type" required>
        <mat-option value="feedback">
          {{ 'FEEDBACK.TYPE_FEEDBACK' | translate }}
        </mat-option>
        <mat-option value="bug">
          {{ 'FEEDBACK.TYPE_BUG' | translate }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="type?.invalid && type?.errors?.required">
        {{ 'COMMON.FORMS.FIELD_REQUIRED' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>{{ 'FEEDBACK.MESSAGE' | translate }}</mat-label>
      <textarea matInput formControlName="message" rows="8"></textarea>
      <mat-error *ngIf="message?.invalid && message?.errors?.required">
        {{ 'COMMON.FORMS.FIELD_REQUIRED' | translate }}
      </mat-error>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="handleSubmit()">
    {{ 'COMMON.SEND' | translate }}
  </button>
  <button mat-stroked-button color="warn" (click)="handleCancel()">
    {{ 'COMMON.CANCEL' | translate }}
  </button>
</div>
