.item-container {
  margin-top: 24px;
}

.item-actions {
  min-height: 42px;
}

.section-icon {
  color: rgba(0, 0, 0, 0.54);
}

.note {
  &__title {
    margin: 0;
  }

  &__content {
    margin-top: 8px;
  }
}
