<div class="back-section">
  <button mat-flat-button color="primary" [routerLink]="['/wishlist']">
    {{ 'WISHLIST.BACK_TO_WISHLIST' | translate }}
  </button>
</div>

<ng-container *ngIf="!(requestInProgress$ | async); else loadingStateTemplate">
  <ng-container *ngIf="item$ | async as item; else emptyStateTemplate">
    <app-item-details
      mode="owner"
      [item]="item"
      (openEdit)="showEditItemDialog($event)"
      (delete)="deleteItem($event)"
    ></app-item-details>
  </ng-container>
</ng-container>

<ng-template #emptyStateTemplate>
  <h1>No item found, sorry</h1>
</ng-template>

<ng-template #loadingStateTemplate>
  <mat-progress-bar></mat-progress-bar>
</ng-template>
