<div
  *ngIf="observedProfiles$ | async as observedProfiles"
  class="observed-profiles__container"
>
  <p class="mat-title" *ngIf="observedProfiles && observedProfiles.length > 0">
    {{ 'PROFILES.OBSERVED_USERS' | translate }}
  </p>
  <ul>
    <li
      *ngFor="let userProfile of observedProfiles"
      class="observed-profiles__item"
      fxLayoutAlign="start center"
      fxLayoutGap="16px"
      [routerLink]="['/profiles', userProfile.uid]"
    >
      <img
        class="observed-profiles__image"
        [src]="userProfile.photoURL"
        [alt]="userProfile.displayName"
      />

      <span class="observed-profiles__name">{{ userProfile.displayName }}</span>
    </li>
  </ul>

  <hr *ngIf="observedProfiles && observedProfiles.length > 0" />
</div>

<app-profile-search
  (searchSubmit)="handleSearchSubmit($event)"
  [requestInProgress]="requestInProgress$ | async"
></app-profile-search>

<div
  class="profiles-container"
  fxLayout="column"
  fxLayoutAlign="start stretch"
  *ngIf="profiles$ | async as profiles"
>
  <mat-divider class="divider"></mat-divider>

  <ng-container *ngIf="profiles.length > 0; else emptyState">
    <app-profile-card
      *ngFor="let profile of profiles"
      [profile]="profile"
    ></app-profile-card>
  </ng-container>
</div>

<ng-template #emptyState>
  <section
    fxLayout="column"
    fxLayoutAlign="center center"
    *ngIf="searchPhraseSubmitted"
  >
    <h1>{{ 'PROFILES.NO_PROFILE_FOUND' | translate }}</h1>

    <img
      src="/assets/images/undraw_not_found_60pq.svg"
      alt="No results"
      class="empty-state__image"
    />
  </section>
</ng-template>
