.request-in-progress-container {
  margin-top: 64px;
}

.divider {
  margin: 48px 0;
}

.search-image {
  max-width: 240px;
}

.empty-state__image {
  max-width: 320px;
  margin-top: 24px;
}

.observed-profiles {
  &__container {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }

  &__item {
    cursor: pointer;
    margin-bottom: 16px;
  }

  &__image {
    max-width: 24px;
    border-radius: 50%;
  }

  &__name {
    font-size: 1rem;
  }
}
