.empty-state__image {
  max-width: 320px;
}

.empty-state__heading {
  margin: 24px 0;
}

.add-item-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.show-details__image {
  max-width: 180px;
}

.show-details__text {
  margin-top: 24px;
  font-size: 1.1rem;
}
