<div class="main-container">
  <div *ngIf="wishList$ | async as wishList; else loading">
    <div *ngIf="wishList.length > 0; else emptyState" fxLayout="row">
      <div fxFlex="50%" fxLayout="column" fxLayoutGap="30px">
        <mat-selection-list
          [multiple]="false"
          (selectionChange)="handleSelectItem($event)"
        >
          <mat-list-option *ngFor="let listItem of wishList" [value]="listItem">
            {{ listItem.name }}
          </mat-list-option>
        </mat-selection-list>
      </div>

      <div fxFlex="50%">
        <div
          fxLayout="column"
          fxLayoutAlign="center center"
          *ngIf="!selectedItem"
        >
          <img
            src="/assets/images/undraw_online_information_4ui6.svg"
            alt="Show item details"
            class="show-details__image"
          />
          <p class="show-details__text">
            Click list item to show more details
          </p>
        </div>

        <div
          fxLayout="column"
          fxLayoutAlign="center center"
          *ngIf="selectedItem"
        >
          <h1>{{ selectedItem.name }}</h1>
          <a [href]="selectedItem.url">Link</a>
          <p>{{ selectedItem.note }}</p>
        </div>
      </div>
    </div>
  </div>

  <button
    *ngIf="(wishList$ | async)?.length > 0"
    (click)="showAddItemDialog()"
    class="add-item-button"
    mat-fab
    color="primary"
    aria-label="Add new item"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>

<ng-template #loading>
  <div fxLayoutAlign="center">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

<ng-template #emptyState>
  <div class="empty-state" fxLayout="column" fxLayoutAlign="start center">
    <img
      class="empty-state__image"
      src="/assets/images/undraw_santa_visit_loux.svg"
      alt="No Data"
    />

    <h1 class="mat-title empty-state__heading">
      Your wishlist is empty
    </h1>

    <button (click)="showAddItemDialog()" mat-raised-button color="primary">
      Add first item
    </button>
  </div>
</ng-template>
