.main-container {
  max-width: 1140px;
  margin: 0 auto;
}

.empty-state__image {
  max-width: 320px;
}

.empty-state__heading {
  margin: 24px 0;
}

.add-item-button {
  position: fixed;
  right: 32px;
  top: 27px;
  z-index: 10;

  @media screen and (min-width: 960px) {
    top: initial;
    bottom: 32px;
  }
}

.top-section {
  margin-bottom: 32px;

  .page-header {
    margin: 16px 0 0;
    padding: 0;
  }
}

.cards-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card {
  &__title {
    font-size: 1rem;
    font-weight: 500;
  }
}

.details-icon {
  color: rgba(0, 0, 0, 0.54);
}
