<div class="main-container">
  <div *ngIf="wishList$ | async as wishList; else loading">
    <div *ngIf="wishList.length > 0; else emptyState">
      <div
        fxLayout="row"
        fxLayoutAlign="space-between center"
        class="top-section"
      >
        <h1 class="page-header">Your wish list</h1>

        <button (click)="showAddItemDialog()" mat-mini-fab color="accent">
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <div class="cards-container" fxLayout="column" fxLayoutGap="24px">
        <mat-card
          fxLayout="column"
          class="card"
          *ngFor="let listItem of wishList"
          [routerLink]="['/wishlist/item', listItem.id]"
        >
          <h1 class="card__title">{{ listItem.name }}</h1>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div fxLayoutAlign="center">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

<ng-template #emptyState>
  <div class="empty-state" fxLayout="column" fxLayoutAlign="start center">
    <img
      class="empty-state__image"
      src="/assets/images/undraw_santa_visit_loux.svg"
      alt="No Data"
    />

    <h1 class="mat-title empty-state__heading">Your wishlist is empty</h1>

    <button (click)="showAddItemDialog()" mat-raised-button color="primary">
      Add first item
    </button>
  </div>
</ng-template>
