.main-container {
  max-width: 1140px;
  margin: 0 auto;
}

.empty-state__image {
  max-width: 320px;
}

.empty-state__heading {
  margin: 24px 0;
}

.add-item-button {
  position: fixed;
  bottom: 32px;
  right: 32px;
}

.top-section {
  margin-bottom: 32px;

  .page-header {
    margin: 0;
    padding: 0;
  }
}

.cards-container {
  padding: 0 8px;
  max-height: calc(100vh - 200px);
  overflow: auto;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.card {
  &:not(:first-of-type) {
    margin-top: 16px;
  }

  &__title {
    font-size: 1rem;
    font-weight: 500;
  }
}

.details-icon {
  color: rgba(0, 0, 0, 0.54);
}
