.cards-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card {
  cursor: pointer;
  &__title {
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
  }

  &__info-text {
    margin: 0;
    opacity: 0.5;
  }
}

.details-icon {
  color: rgba(0, 0, 0, 0.54);
}

.selected-profile__name {
  margin: 0;
}
