<h1>FAQ</h1>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        What are main functions of this application?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p class="mat-subheading-1">
      Gifts Helper provides 2 main functionality for you
    </p>
    <ol>
      <li>
        Create and manage your own christmas whish list in the "Wish List"
        section
      </li>
      <li>
        Search for your friend or family member wish list by using their email
        in the "Profiles" section
      </li>
      <li>
        Assign one or more items from other person wish list as an item you
        would like to byu for her/him. You can see this assigned items in
        "Shopping List" section
      </li>
    </ol>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        What if I buy one of the items from my shopping list?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      You can mark every item as "bought" from the item menu. If someone else
      buys this item first, you will get a warning and won't be able to mark it
      as bought
    </p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Searching for a person each time I want to see his or her list is
        tedious
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      No problem! You can mark each person as observed and link to the profile
      will always appear at the top of "Profiles" section
    </p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        I saw some bugs in the app or just want to propose some improvements
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      You can click a button with exclamation mark in the header and fill a
      small form with your message
    </p>
  </mat-expansion-panel>
</mat-accordion>
