<div class="back-section">
  <button
    mat-stroked-button
    color="primary"
    [routerLink]="['/profiles', profileId]"
  >
    Back to profile wishlist
  </button>
</div>

<ng-container *ngIf="!(requestInProgress$ | async); else loadingStateTemplate">
  <article
    *ngIf="item$ | async as item; else emptyStateTemplate"
    class="item-container"
    fxLayout="column"
    fxLayoutGap="24px"
  >
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
      <mat-icon *ngIf="isItemAssigned(item)" color="primary">
        check_circle
      </mat-icon>

      <mat-icon *ngIf="!isItemAssigned(item)" color="primary">
        help_outline
      </mat-icon>

      <h1 class="item-name">{{ item?.name }}</h1>
    </div>

    <div *ngIf="item?.url" fxLayoutAlign="start center" fxLayoutGap="8px">
      <mat-icon class="section-icon">link</mat-icon>
      <a [href]="item?.url" target="blank" rel="noopener noreferrer">
        Link to shop
      </a>
    </div>

    <div *ngIf="item?.note">
      <div fxLayoutAlign="start center" fxLayoutGap="8px">
        <mat-icon class="section-icon">note</mat-icon>
        <h2 class="note__title">Note:</h2>
      </div>
      <p class="note__content">
        {{ item?.note }}
      </p>
    </div>

    <div class="item-actions" fxLayoutAlign="start center" fxLayoutGap="24px">
      <p *ngIf="isSomeoneBuying(item)" class="card__info-text">
        Someone already want to buy this item
      </p>

      <button
        mat-stroked-button
        [color]="isItemAssigned(item) ? 'warn' : 'primary'"
        (click)="isItemAssigned(item) ? unassignItem() : assignItem()"
      >
        {{ isItemAssigned(item) ? "Don't want to buy" : 'Want to buy' }}
      </button>
    </div>
  </article>
</ng-container>

<ng-template #emptyStateTemplate>
  <h1>No item found, sorry</h1>
</ng-template>

<ng-template #loadingStateTemplate>
  <mat-progress-bar></mat-progress-bar>
</ng-template>
