<div class="back-section">
  <button mat-flat-button color="primary" (click)="goBack()">
    {{ 'COMMON.GO_BACK' | translate }}
  </button>
</div>

<ng-container *ngIf="!(requestInProgress$ | async); else loadingStateTemplate">
  <ng-container *ngIf="item$ | async as item; else emptyStateTemplate">
    <app-item-details
      mode="visitor"
      [item]="item"
      [itemAssigned]="isItemAssigned(item)"
      [someoneIsBuying]="isSomeoneBuying(item)"
      (assignItem)="assignItem()"
      (unAssignItem)="unassignItem()"
    ></app-item-details>
  </ng-container>
</ng-container>

<ng-template #emptyStateTemplate>
  <h1>{{ 'PROFILES.ITEM_NOT_FOUND' | translate }}</h1>
</ng-template>

<ng-template #loadingStateTemplate>
  <mat-progress-bar></mat-progress-bar>
</ng-template>
