<h1 mat-dialog-title>{{ data.name }}</h1>
<div mat-dialog-content>
  <form class="new-item-form" [formGroup]="editItemForm" fxLayout="column">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'WISHLIST.ITEM_NAME' | translate }}</mat-label>
      <input
        matInput
        [placeholder]="'WISHLIST.ITEM_NAME_PLACEHOLDER' | translate"
        formControlName="name"
        type="text"
        required
        cdkFocusInitial
      />
      <mat-error *ngIf="name?.invalid && name?.errors?.required">
        {{ 'COMMON.FORMS.FIELD_REQUIRED' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'WISHLIST.ITEM_URL' | translate }}</mat-label>
      <input
        matInput
        [placeholder]="'WISHLIST.ITEM_URL_PLACEHOLDER' | translate"
        type="url"
        formControlName="url"
      />
      <mat-error *ngIf="url?.invalid && url?.errors?.pattern">
        {{ 'COMMON.FORMS.NOT_VALID_LINK' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'WISHLIST.ITEM_NOTE' | translate }}</mat-label>
      <textarea
        matInput
        [placeholder]="'WISHLIST.ITEM_NOTE' | translate"
        formControlName="note"
        rows="8"
      ></textarea>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="handleSaveItem()">
    {{ 'COMMON.SAVE' | translate }}
  </button>
  <button mat-stroked-button color="warn" (click)="handleCancel()">
    {{ 'COMMON.CANCEL' | translate }}
  </button>
</div>
